@media only screen and (min-width: 767px) {
    .enlace {
        line-height: 50px !important;
    }
}

.info-contacto {
    padding: 5px;
}

a {
    text-decoration: none !important;
}

.tienda {
    padding: 30px 0;
}

.uk-card-body {
    padding: 15px 15px !important;
}
